@import "../../variables";
@import "../../mix-ins";

h1{
    font-family: $navFont;
    font-size: 50px;
    font-weight: lighter;
}
header{
    position: relative;
    @include flex-display(column, space-between, center);
    height: 80px;
    margin: 70px 0;
    .container{
        width: 100%;
        @include flex-display(row, space-between, center);
    }
}